*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
    padding: 20px;
}

img{
    /* Height will auto adjust if you put width, but if you put height, width will not auto adjust */
    width: 200px;
    cursor: pointer;
}

button{
    width: 50px;
    height: 50px;
    background-color: black;
    color: aliceblue;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;

}